*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html ,body{
    height: 100%;
    width: 100%;
    font-family: "Glory";
}
#main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(2, 82, 2, 0.452);
}
#panel{
    height: 80%;
    width: 80%;
    background-color: #fff;
    border-radius: 15px;
    overflow: hidden;
}
#ptop{
    height: 100px;
    width: 100%;
    padding: 0px 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    background-color:    rgba(1, 62, 1, 0.789);

}
#elem{
    display: flex;
    width: 15%;
    align-items: center;
    gap :20px;
   
    
    
}
.box{
    color: #000;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px 20PX;
    font-weight: 700;
    font-size: 25px;
}
#pbtm{
    display: flex;
    gap: 10px;
    width: 100%;
    height: calc(100% - 100px);
    flex-wrap: wrap;
   
}
.bubble{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    background-color: rgb(141, 255, 47);
    border-radius: 50%;
    color: #fff;
}
.bubble:hover{
    background-color: rgb(29, 54, 9);
    cursor: pointer;
}